In [1]:
#Importing dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
import config

In [2]:
#Extracting academy_awards_1927-2015 as a Pandas DataFrame
academy_data_csv = "Resources/academy_awards_1927-2015.csv"
academy_data_df = pd.read_csv(academy_data_csv)
academy_data_df.head()

        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson

In [3]:
#Extracting academy_awards_1927-2015 as a Pandas DataFrame
imdb_top_csv = "Resources/imdb_top_1000.csv"
imdb_top_df = pd.read_csv(imdb_top_csv)
imdb_top_df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

<h1>Transfrom Data</h1>

In [4]:
# Combine star columns into 1 combined column of actors
imdb_top_df['actors'] = imdb_top_df[imdb_top_df.columns[10:15]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1)

In [5]:
# Drop unnecessary columns
dopped_imdb_top_df = imdb_top_df.drop(columns=['Overview', 'Certificate', "Poster_Link", "Star1", "Star2", "Star3", "Star4"])
dopped_imdb_top_df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross,actors
0,The Shawshank Redemption,1994,142 min,Drama,9.3,80.0,Frank Darabont,2343110,"28,341,469","Tim Robbins,Morgan Freeman,Bob Gunton,William ..."
1,The Godfather,1972,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,1620367,"134,966,411","Marlon Brando,Al Pacino,James Caan,Diane Keato..."
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,2303232,"534,858,444","Christian Bale,Heath Ledger,Aaron Eckhart,Mich..."
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,1129952,"57,300,000","Al Pacino,Robert De Niro,Robert Duvall,Diane K..."
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,689845,"4,360,000","Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie..."

In [6]:
imdb_top_1000_df = dopped_imdb_top_df.rename(columns={"Series_Title": "film_name",
                                                "Released_Year": "released_year",
                                                "Runtime": "runtime",
                                                "Genre": "genre",
                                                "IMDB_Rating": "imdb_rating",
                                                "Meta_score": "meta_score",
                                                "Director": "director",
                                                "actors": "actors",
                                                "No_of_Votes": "votes",
                                                "Gross": "gross"
                                                })

In [7]:
imdb_top_1000_df

,film_name,released_year,runtime,genre,imdb_rating,meta_score,director,votes,gross,actors
0,The Shawshank Redemption,1994,142 min,Drama,9.3,80.0,Frank Darabont,2343110,"28,341,469","Tim Robbins,Morgan Freeman,Bob Gunton,William ..."
1,The Godfather,1972,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,1620367,"134,966,411","Marlon Brando,Al Pacino,James Caan,Diane Keato..."
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,2303232,"534,858,444","Christian Bale,Heath Ledger,Aaron Eckhart,Mich..."
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,1129952,"57,300,000","Al Pacino,Robert De Niro,Robert Duvall,Diane K..."
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,689845,"4,360,000","Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie..."
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,166544,NaN,"Audrey Hepburn,George Peppard,Patricia Neal,Bu..."
996,Giant,1956,201 min,"Drama, Western",7.6,84.0,George Stevens,34075,NaN,"Elizabeth Taylor,Rock Hudson,James Dean,Carrol..."
997,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,43374,"30,500,000","Burt Lancaster,Montgomery Clift,Deborah Kerr,D..."
998,Lifeboat,1944,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,26471,NaN,"Tallulah Bankhead,John Hodiak,Walter Slezak,Wi..."
999,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,51853,NaN,"Robert Donat,Madeleine Carroll,Lucie Mannheim,..."

In [8]:
#Connecting to local database using config for all personal data
rds_connection_string = f'{config.protocol}://{config.username}:{config.password}@{config.host}:{config.port}/{config.database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [9]:
insp.get_table_names()

['imdb_top_1000', 'academy_award_data']

In [10]:
academy_data_df.to_sql(name='academy_award_data', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Year" of relation "academy_award_data" does not exist
LINE 1: INSERT INTO academy_award_data ("Year", "Ceremony", "Award",...
                                        ^

[SQL: INSERT INTO academy_award_data ("Year", "Ceremony", "Award", "Winner", "Name", "Film") VALUES (%(Year)s, %(Ceremony)s, %(Award)s, %(Winner)s, %(Name)s, %(Film)s)]
[parameters: ({'Year': '1927/1928', 'Ceremony': 1, 'Award': 'Actor', 'Winner': None, 'Name': 'Richard Barthelmess', 'Film': 'The Noose'}, {'Year': '1927/1928', 'Ceremony': 1, 'Award': 'Actor', 'Winner': 1.0, 'Name': 'Emil Jannings', 'Film': 'The Last Command'}, {'Year': '1927/1928', 'Ceremony': 1, 'Award': 'Actress', 'Winner': None, 'Name': 'Louise Dresser', 'Film': 'A Ship Comes In'}, {'Year': '1927/1928', 'Ceremony': 1, 'Award': 'Actress', 'Winner': 1.0, 'Name': 'Janet Gaynor', 'Film': '7th Heaven'}, {'Year': '1927/1928', 'Ceremony': 1, 'Award': 'Actress', 'Winner': None, 'Name': 'Gloria Swanson', 'Film': 'Sadie Thompson'}, {'Year': '1927/1928', 'Ceremony': 1, 'Award': 'Art Direction', 'Winner': None, 'Name': 'Rochus Gliese', 'Film': 'Sunrise'}, {'Year': '1927/1928', 'Ceremony': 1, 'Award': 'Art Direction', 'Winner': 1.0, 'Name': 'William Cameron Menzies', 'Film': 'The Dove; Tempest'}, {'Year': '1927/1928', 'Ceremony': 1, 'Award': 'Art Direction', 'Winner': None, 'Name': 'Harry Oliver', 'Film': '7th Heaven'}  ... displaying 10 of 9964 total bound parameter sets ...  {'Year': '2015', 'Ceremony': 88, 'Award': 'Honorary Award', 'Winner': 1.0, 'Name': 'Spike Lee', 'Film': None}, {'Year': '2015', 'Ceremony': 88, 'Award': 'Honorary Award', 'Winner': 1.0, 'Name': 'Gena Rowlands', 'Film': None})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
imdb_top_df.to_sql(name='imdb_top_1000', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Poster_Link" of relation "imdb_top_1000" does not exist
LINE 1: INSERT INTO imdb_top_1000 ("Poster_Link", "Series_Title", "R...
                                   ^

[SQL: INSERT INTO imdb_top_1000 ("Poster_Link", "Series_Title", "Released_Year", "Certificate", "Runtime", "Genre", "IMDB_Rating", "Overview", "Meta_score", "Director", "Star1", "Star2", "Star3", "Star4", "No_of_Votes", "Gross", actors) VALUES (%(Poster_Link)s, %(Series_Title)s, %(Released_Year)s, %(Certificate)s, %(Runtime)s, %(Genre)s, %(IMDB_Rating)s, %(Overview)s, %(Meta_score)s, %(Director)s, %(Star1)s, %(Star2)s, %(Star3)s, %(Star4)s, %(No_of_Votes)s, %(Gross)s, %(actors)s)]
[parameters: ({'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg', 'Series_Title': 'The Shawshank Redemption', 'Released_Year': '1994', 'Certificate': 'A', 'Runtime': '142 min', 'Genre': 'Drama', 'IMDB_Rating': 9.3, 'Overview': 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.', 'Meta_score': 80.0, 'Director': 'Frank Darabont', 'Star1': 'Tim Robbins', 'Star2': 'Morgan Freeman', 'Star3': 'Bob Gunton', 'Star4': 'William Sadler', 'No_of_Votes': 2343110, 'Gross': '28,341,469', 'actors': 'Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110'}, {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg', 'Series_Title': 'The Godfather', 'Released_Year': '1972', 'Certificate': 'A', 'Runtime': '175 min', 'Genre': 'Crime, Drama', 'IMDB_Rating': 9.2, 'Overview': "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.", 'Meta_score': 100.0, 'Director': 'Francis Ford Coppola', 'Star1': 'Marlon Brando', 'Star2': 'Al Pacino', 'Star3': 'James Caan', 'Star4': 'Diane Keaton', 'No_of_Votes': 1620367, 'Gross': '134,966,411', 'actors': 'Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367'}, {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg', 'Series_Title': 'The Dark Knight', 'Released_Year': '2008', 'Certificate': 'UA', 'Runtime': '152 min', 'Genre': 'Action, Crime, Drama', 'IMDB_Rating': 9.0, 'Overview': 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.', 'Meta_score': 84.0, 'Director': 'Christopher Nolan', 'Star1': 'Christian Bale', 'Star2': 'Heath Ledger', 'Star3': 'Aaron Eckhart', 'Star4': 'Michael Caine', 'No_of_Votes': 2303232, 'Gross': '534,858,444', 'actors': 'Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232'}, {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg', 'Series_Title': 'The Godfather: Part II', 'Released_Year': '1974', 'Certificate': 'A', 'Runtime': '202 min', 'Genre': 'Crime, Drama', 'IMDB_Rating': 9.0, 'Overview': 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.', 'Meta_score': 90.0, 'Director': 'Francis Ford Coppola', 'Star1': 'Al Pacino', 'Star2': 'Robert De Niro', 'Star3': 'Robert Duvall', 'Star4': 'Diane Keaton', 'No_of_Votes': 1129952, 'Gross': '57,300,000', 'actors': 'Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952'}, {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg', 'Series_Title': '12 Angry Men', 'Released_Year': '1957', 'Certificate': 'U', 'Runtime': '96 min', 'Genre': 'Crime, Drama', 'IMDB_Rating': 9.0, 'Overview': 'A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.', 'Meta_score': 96.0, 'Director': 'Sidney Lumet', 'Star1': 'Henry Fonda', 'Star2': 'Lee J. Cobb', 'Star3': 'Martin Balsam', 'Star4': 'John Fiedler', 'No_of_Votes': 689845, 'Gross': '4,360,000', 'actors': 'Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845'}, {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX67_CR0,0,67,98_AL_.jpg', 'Series_Title': 'The Lord of the Rings: The Return of the King', 'Released_Year': '2003', 'Certificate': 'U', 'Runtime': '201 min', 'Genre': 'Action, Adventure, Drama', 'IMDB_Rating': 8.9, 'Overview': "Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.", 'Meta_score': 94.0, 'Director': 'Peter Jackson', 'Star1': 'Elijah Wood', 'Star2': 'Viggo Mortensen', 'Star3': 'Ian McKellen', 'Star4': 'Orlando Bloom', 'No_of_Votes': 1642758, 'Gross': '377,845,905', 'actors': 'Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758'}, {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR0,0,67,98_AL_.jpg', 'Series_Title': 'Pulp Fiction', 'Released_Year': '1994', 'Certificate': 'A', 'Runtime': '154 min', 'Genre': 'Crime, Drama', 'IMDB_Rating': 8.9, 'Overview': 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.', 'Meta_score': 94.0, 'Director': 'Quentin Tarantino', 'Star1': 'John Travolta', 'Star2': 'Uma Thurman', 'Star3': 'Samuel L. Jackson', 'Star4': 'Bruce Willis', 'No_of_Votes': 1826188, 'Gross': '107,928,762', 'actors': 'John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188'}, {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX67_CR0,0,67,98_AL_.jpg', 'Series_Title': "Schindler's List", 'Released_Year': '1993', 'Certificate': 'A', 'Runtime': '195 min', 'Genre': 'Biography, Drama, History', 'IMDB_Rating': 8.9, 'Overview': 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.', 'Meta_score': 94.0, 'Director': 'Steven Spielberg', 'Star1': 'Liam Neeson', 'Star2': 'Ralph Fiennes', 'Star3': 'Ben Kingsley', 'Star4': 'Caroline Goodall', 'No_of_Votes': 1213505, 'Gross': '96,898,818', 'actors': 'Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BZTBmMjUyMjItYTM4ZS00MjAwLWEyOGYtYjMyZTUxN2I3OTMxXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg', 'Series_Title': 'Lifeboat', 'Released_Year': '1944', 'Certificate': None, 'Runtime': '97 min', 'Genre': 'Drama, War', 'IMDB_Rating': 7.6, 'Overview': 'Several survivors of a torpedoed merchant ship in World War II find themselves in the same lifeboat with one of the crew members of the U-boat that sank their ship.', 'Meta_score': 78.0, 'Director': 'Alfred Hitchcock', 'Star1': 'Tallulah Bankhead', 'Star2': 'John Hodiak', 'Star3': 'Walter Slezak', 'Star4': 'William Bendix', 'No_of_Votes': 26471, 'Gross': None, 'actors': 'Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471'}, {'Poster_Link': 'https://m.media-amazon.com/images/M/MV5BMTY5ODAzMTcwOF5BMl5BanBnXkFtZTcwMzYxNDYyNA@@._V1_UX67_CR0,0,67,98_AL_.jpg', 'Series_Title': 'The 39 Steps', 'Released_Year': '1935', 'Certificate': None, 'Runtime': '86 min', 'Genre': 'Crime, Mystery, Thriller', 'IMDB_Rating': 7.6, 'Overview': 'A man in London tries to help a counter-espionage Agent. But when the Agent is killed, and the man stands accused, he must go on the run to save himself and stop a spy ring which is trying to steal top secret information.', 'Meta_score': 93.0, 'Director': 'Alfred Hitchcock', 'Star1': 'Robert Donat', 'Star2': 'Madeleine Carroll', 'Star3': 'Lucie Mannheim', 'Star4': 'Godfrey Tearle', 'No_of_Votes': 51853, 'Gross': None, 'actors': 'Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853'})]
(Background on this error at: https://sqlalche.me/e/14/f405)